body {
  margin: 0;
  font-family: "inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
* {
  font-family: "inter", system-ui;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }
  h3,
  p {
    margin: 0;
  }
  span {
    color: #5c5c5c;
  }
}
.content {
  h1 {
    margin: 0;
  }
}
.search-block {
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
  .search-clear {
    cursor: pointer;
    position: absolute;
    width: 13px;
    height: 13px;
    right: 15px;
    top: 13px;
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 14px;
    width: 200px;
  }
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  .items {
    overflow: auto;
    margin-bottom: 40px;
    flex: 1;
  }
  h2 {
    margin: 0;
    .removeBtn {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 40px !important;
      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }
  .greenButton {
    position: relative;
    &:hover {
      img {
        transform: translateX(5px);
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 23px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  &:hover {
    background: lighten(#9dd558, $amount: 5%);
  }
  &:active {
    background: darken(#9dd558, $amount: 5%);
  }
}
.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
  .removeBtn {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}
